<header>
  <h1>Contact us</h1>
</header>
<div class="container">
  <div class="row">
   <div class="col-xl-8 offset-xl-2 py-5" id = "products">
     <p class="lead">
        Please feel free to stop during business hours!
        We have plenty of free parking and out door seating during summer months.
        Stop by and see us soon, or call ahead for take out.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col" >
      <h2>Address</h2>
      <p>111 Easy Street</p>
      <p>Burlington, Vt 05499</p>
      <p>802-222-1111</p>
      <h2>Hours</h2>
      <p>Monday - Thursday 11am - 10pm</p>
      <p>Friday & Saturday 11am - 11pm</p>
      <p>Sunday 10am - 10pm</p>
      <h2>Connect</h2>
      <a href="http://www.facebook.com/">
        <i class="fab fa-facebook-square icon"></i>
      </a>
      <a href="http://www.instagram.com/">
        <i class="fab fa-instagram icon"></i>
      </a>

    </div>
    <div class="col">
      <h2>Email Us</h2>
      <form class="" method="post">

      </form>
      <div class="form-actions">
        <button type="submit">Send</button>
      </div>
    </div>
   </div>
  </div>
