
body{
  background-image: url('/images/background.png');
  background-repeat: no-repeat;
  height:100%;
}
header{
  width: 100%;
  height:150px;
  padding-top:20px;
  text-align: center;
  background-color: brown;
}
h1{
  color: white;
}
@media only screen and (max-width: 768px) {
  #icon{
    display: none;
  }
  #amnt{
      display: none;
  }
}

#options{
  border-top:solid;
  border-left: solid;
  border-right: solid;
  border-bottom: solid;
  border-width: 5px;
  text-align: center;
  padding:20px;
  background-color: white;
}

#icon{
  font-size: 40px;
  text-align: center;
}

#tag{
  font-size:20px;
  text-align: center;
}
#amnt{
  font-size: 15px;
}
#totalPrice{
  padding-top: 10px;
  text-align: center;
  color: black;
}
#products{
  padding-top: 50px;
  text-align: center;
  margin:0 auto;
  vertical-align: middle;
  background-color:#FFB6C1;
}

#product_img{
  height: auto;
  width: auto;
  max-width:200px;
  max-height: 200px;
}
#about_img{
  height: auto;
  width: auto;
  max-width:400px;
  max-height:400px;
}

.pagination{
  position:relative;
  left:50%;
  float:left;
  margin-right:0;
  margin-left:0;
}
#thumbnail{
  height: auto;
  width: auto;
  max-width:50px;
  max-height: 50px;
}

.pagination{
  text-align: center;
  font-size: 20px;
}
#cart{
  min-height: 50vh;
}
#confirmShippingInfo{
display:none;
}

footer{
  width: 100%;
  background-color: brown;
  padding-top:60px;
  font-size: 20px;
}
